@{
  Layout = "_Layout";
}
    <div class="container well">
      <h1>City List</h1>
      <h5>Enter a word and a sentence. Push the COUNT button to see how many times that word repeats in the sentence.</h5>
        <form class="form" action="/" method="post">
          <div class="form-group row">
            <div class="col-lg-3">
              <input type="text" class="form-control" name="Word" id="word" placeholder="Enter a word to find">
            </div>
            <div class="col-lg-9">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-11">
              <input type="text" class="form-control col-8" name="Sentence" id="sentence" placeholder="Enter your sentence">
            </div>
            <div class="col-xl-1">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-2">
              <button type="submit" class="btn btn-success" name="button">COUNT!</button>
            </div>
            <div class="col-lg-10">
            </div>
          </div>
        </form>
      <div class="row">
        <div class="col-xsl-11">
          @if(@Model.Count > 0)
          {
            @foreach(var item in Model)
            {
              <li>@item.GetID() : @item.GetName()</li>
            }
          }
        </div>
          <div class="col-xl-1">
        </div>
    </div>
