@{
  Layout = "_Layout";
}
    <div class="container well">
      <div class="jumbotron">
        <h1>City and Country List</h1>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <h5><a href="/city-a">City</a></h5>
        </div>
        <div class="col-lg-4">
          <h5><a href="/population-d">Population</a></h5>
        </div>
        <div class="col-lg-4">
          <h5>CountryCode</h5>
        </div>
      </div>

      <div class="row">
          @if(@Model.Count > 0)
          {
            @foreach(var item in Model)
            {
            <div class="col-lg-4">
                <h5>@item.GetName()</h5>
            </div>
            <div class="col-lg-4">
              <h5>@item.GetPopulation()</h5>
            </div>
            <div class="col-lg-4">
              <h5>@item.GetCountryCode()</h5>
            </div>
            }
          }
        </div>

      </div>
      <div class="row">
        <div class="col-xsl-11">
          <h3><a href="/country">Go To Country List</a></h3>
        </div>
          <div class="col-xl-1">
          </div>
      </div>
